.Home-logos {
  margin-bottom: 1.2rem;
  height: 64px;
  display: flex;
  flex-direction: row;
}

.Home-logo {
  max-width: 38vw;
  margin-bottom: 0;
}

#rewiring-logo {
  margin: auto 1.5rem auto 0;
}

#asb-logo {
  height: 45%;
  margin: auto 0 auto 1.8rem;
}

#Home-logo-keyline {
  border-color: black;
  height: 80%;
  margin: auto 0;
}
